<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/libs/jquery-3.3.1.min.js" ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
  <body>
      
    <% include ./header.ejs %>
        
        <div class="contenido">
          <label><h6>*Para agregar, indicar rut y nombres nuevos, hacer click en agregar</h6></label>
          <form id="buscar_persona">
            <label>Rut: </label>
            <input name="rut_persona" type="text" placeholder="66.666.666-6" onfocus="true" />
            <label>Nombre: </label>
            <input name="nombre_persona" type="text" placeholder="Alan Brito" />
            <button class="btn_buscar_persona" name="btn_buscar_persona" >Buscar</button>
            <button class="btn_buscar_persona" name="btn_agregar_persona" >Agregar</button>
          </form>

          
        </div>
        <div class="tabla_personas">
            <table id="tabla__persona" class="table table-hover table-dark">
              <thead>
                <th>Rut</th>
                <th>Nombre</th>
                <th></th>
              </thead>
                <tbody>
                  
                </tbody>
              </table>
        </div>
        <script src="/javascripts/forms-table.js" ></script>
  </body>
</html>